<table th:fragment="tableFragment" class="table">
    <thead>
        <tr class="table-dark">
            <th class="text-center align-middle">번호</th>
            <th class="text-center align-middle" th:each="header : ${headerList}" th:text="${header}"></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="data, loop : ${paging}">
            <td class="text-center align-middle" th:text="${(paging.number * paging.size) + loop.index + 1}"></td>
            <td class="text-center align-middle" th:text="${data.timestamp}"></td>
            <td class="text-center align-middle">
                <a th:href="@{|https://abuseipdb.com/check/${data.ip}|}" th:text="${data.ip}"></a>
            </td>
            <td class="text-center align-middle" th:text="${data.geo_ip}"></td>
            <td class="text-center align-middle">
                <a th:href="@{|/access_log/status/${data.status}|}" th:text="${data.status}"></a>
            </td>
            <td class="text-center align-middle">
                <a th:href="@{|/access_log/site/${data.host}|}" th:text="${data.host}"></a>
            </td>
            <td class="text-center align-middle" th:text="${data.http_version}"></td>
            <td class="text-center align-middle" th:text="${data.scheme}"></td>
            <td class="text-center align-middle" th:text="${data.method}"></td>
            <td class="text-center align-middle" th:text="${data.url}"></td>
            <td class="text-center align-middle" th:text="${data.content_type}"></td>
            <td class="text-center align-middle" th:text="${data.body}"></td>
            <td class="text-center align-middle" th:text="${data.request_time}"></td>
            <td class="text-center align-middle" th:text="${data.cookie}"></td>
        </tr>
        </tr>
    </tbody>
</table>